attrs
blis
certifi
chardet
click
cso-classifier
cycler
cymem
decorator
falcon
Flask
Flask-Cors
gunicorn
hurry.filesize
idna
importlib-metadata
isodate
itsdangerous
Jinja2
joblib
jsonschema
kiwisolver
kneed
Markdown
MarkupSafe
matplotlib
more-itertools
murmurhash
networkx
nltk
numpy
Owlready2
owlrl
packaging
pandas
pdftotext
Pillow
pip
plac
pluggy
preshed
py
pyLODE
pyparsing
PyPDF2
pyrsistent
pytest
python-dateutil
python-Levenshtein
pytz
rdflib
rdflib-jsonld
requests
rustici-software-cloud-v2
scikit-learn
scipy
setuptools
six
spacy
SPARQLWrapper
srsly
ssmpy
thinc
threadpoolctl
tqdm
urllib3
wasabi
wcwidth
webweb
Werkzeug
zipp
