{% extends "templates/lab.html" %}

{% block deadline %}
{% endblock %}

{% block objectives %}

In this Lab, you will:

 <ul>
<li class="itemize">Learn how to access your CSE account
 <li class="itemize">Become familiar with the linux environment
 <li class="itemize">use a text editor to create small C programs
 <li class="itemize">use dcc to compile a C program
 </li></li></li></li></ul>

{% endblock %}

{% block preparation_block %}
{% endblock %}

{% block getting_started %}

<div class="highlighted_note">
Normally we have the first COMP1511 lecture of the week before  before the first tutorial of the week.
<p>
This year because of the number students wanting to do COMP1511, we've been unable to do this.
<p>
This means if you have a Monday or Tuesday morning tut-lab,
you haven't had the lecture the following questions talk about.
<p>
We thought about cancelling the week 1 tut-labs, but decided they were still worth having
because you get to meet and know your tutor, your fellow students and see the lab environment.
<p>
For tut-labs before the first lecture - tutors will try to explain what they can as part of the tutorial
but don't worry if you don't understand lots of things.
<p>
Of course there are no marks for the week 1 tut-lab.
<p>
If you have a chance watch beforehand either:
<ul>
<li> <a href="https://youtu.be/fAeV52_HPNE?t=1023">this video of the 2017 session 2 COMP1511 lecture</a> (starting at 17:03)
or
<li> <a href="https://youtu.be/FvoffPpRBNQ?t=1859">this video of a 2017 session 1 COMP1511 lecture</a> starting at 30:59
</li></li></ul>
But if you can't watch the videos don't worry.
</p></p></p></p></p></p></div>
<p>
In this first {{course_code}} lab, the primary aim is for you to familiarize yourself with the process of creating,
compiling and executing simple C programs.
<p>
The material you will need to know can be found in the week 1 lecture notes.
<p>
This exercise will simply ensure you are capable of writing a small program and getting it to
run.
<p>
There are no marks for this week's work, but you should practice testing and submitting your answers in preparation for future weeks.
<p>
Once you've done this, you are free to explore some other unix commands.

<h3>Pairs</h3>

{{course_code}} lab exercises will be completed in pairs.
Your tutor will assign you a partner.
You will work together on lab exercises until your tutor
rearranges the pairs in 4 weeks time.
<h3>Instructions</h3>

Note that the following instructions assume that you are using text commands inside a Linux terminal
window. Some of the steps (e.g. creating a new directory) can also be completed using the graphical user
interface, similar to what you are used to from Windows.

{% endblock %}

{% block lab_exercises %}

{% call wrap_exercise("Logging In") %}
<p>
Once you are in your lab, one student from your pair should log into the lab computer.
<p>
To log in, you use your zID (which looks something like <code>z1234567</code>) and your zPass (which is used to log into all other university online services).
<p>
The CSE labs use the Linux operating system (not Windows or OSX or ...).
<p>
When you log in, by default, you'll be using the xfce4 window manager, and you'll see a linux desktop.
<p>
If you are asked to select a panel click on <b>Default</b>.
<p>
Along with menus that you can see, such as the Applications Menu in the top left corner, it also has a simple menu you can access by <b>right-clicking anywhere on the desktop</b>.
<p>
Have a look around and see if you can work out how to open a web browser.

{% endcall %}

{% call wrap_exercise("Exercise 0: Trying out some Linux Commands") %}

<p>
Although there are lots of things you can do by using the graphical user interface (GUI) -
clicking on menu items and icons, we really want you understand how to use
the Linux command-line.
<p>
If you get stuck with any of this, don't hesitate to ask one of your tutors for help, that's why they're here!
<p>
If there isn't a terminal open, right click on the desktop and select 'Open Terminal Here'
<p>
This will bring up a window where you can type in Linux commands.
<p>
There are a few commands that you can use to check your account details:
<ul>
<li><code>rquota</code> tells you how much of your disk quota you've used up (from creating files)
    <li><code>pp</code> tells you your name, what classes you're in, where your home directory is and other details that may or may not be useful
</li></li></ul>
<p>
Each of these is a command, and when entering into your terminal, you need to press enter (or return) after each command. Try the two we just mentioned above.
<p>
Now try running the command <code>date</code> - which prints the current time and date.
<p>
You should see something like this:

<pre class="command_line">
<kbd class="shell">date</kbd>
Monday 26 February  12:15:20 AEDT 2018
</pre>

Now we're going to learn about some commands for working with directories (directories are often called folders on other operating systems).
<p>
<ul>
<li>pwd</li>
<li>ls</li>
<li>cd</li>
<li>mkdir</li>
</ul>


The Linux command <code>pwd</code> tells you what directory you are in, often called your <i>current working directory</i>.
<p>
<code>pwd</code> stands for '<strong>p</strong>rint <strong>w</strong>orking <strong>d</strong>irectory'.
<p>
If your username is 'z7654321', and you enter the 'pwd' command into the terminal, it might tell you:


<pre class="command_line">
<kbd class="shell">pwd</kbd>
/import/cage/1/z7654321/Desktop
</pre>

This means that I'm in the Desktop directory inside my (z7654321's) home directory<i></i>and my home directory is stored on the file server called <i>cage</i>.
<p>
What does <code>pwd</code> print for you?
<p>
The Linux command <code>ls</code> prints a <b>l</b>i<b>s</b>t of the files in the present directory. Since you have a new account there will probably be nothing in your Desktop directory.

<pre class="command_line">
<kbd class="shell">ls</kbd>
</pre>

The Linux command <code>cd</code> is a command that you can use to <strong>c</strong>hange your <strong>d</strong>irectory.
<p>
If you type in cd on its own as follows, you will move into your home directory</p>
<p>
Try this out and confirm your directory has changed by running <code>pwd</code> again

<pre class="command_line">
<kbd class="shell">pwd</kbd>
/import/cage/1/z7654321/Desktop
<kbd class="shell">cd</kbd>
<kbd class="shell">pwd</kbd>
/import/cage/1/z7654321
</pre>

If you run <code>ls</code> you'll see what is in your home directory. Since you have a new account, your home directory will most likely only contain your Desktop and a directory called public_html (which is where you can create files to create websites).

<pre class="command_line">
<kbd class="shell">ls</kbd>
Desktop public_html
</pre>


The Linux command <code>mkdir</code> <strong>m</strong>a<strong>k</strong>es a new <strong>dir</strong>ectory.
To use it you must supply the name of the directory you wish to create.  Lets use it to create a directory for
this week's lab exercises.

<pre class="command_line">
<kbd class="shell">mkdir lab01</kbd>
</pre>

Now the command <code>ls</code> should show you the directory you just created.

<pre class="command_line">
<kbd class="shell">ls</kbd>
Desktop lab01 public_html
</pre>

Now we will use <code>cd</code> in a slightly different way where we tell it what directory we want to change into

<pre class="command_line">
<kbd class="shell">cd lab01</kbd>
</pre>

To confirm we really are in our new created <i>lab01</i> directory type the <code>pwd</code> command again.


<pre class="command_line">
<kbd class="shell">pwd</kbd>
/import/cage/1/z7654321/lab01
</pre>

If all this has worked, it's time to try compiling your first program!

{% endcall %}

{% call wrap_exercise("Exercise 1: Your first program") %}
<p>
Now it's time to create a file. We are going to use the text editor <em>gedit</em>.
<p>
<div class="alert alert-info">
Tip: you can run a command to automatically configure gedit to properly set up indentation etc.
<p>
Type:
<pre class="command_line">
<kbd class="shell">1511 setup-gedit</kbd>
</pre>
</p></div>
<p>
To create a file using gedit, type:

<pre class="command_line">
<kbd class="shell">gedit bad_pun.c &amp;</kbd>
</pre>

This will open up a graphical editor where you can manipulate text.
<p>
Adding the <code>&amp;</code> to the end of a command allows the GUI to return control to the terminal as soon as it
starts (i.e. run in the background) rather than after it is closed. If you forget the <code>&amp;</code>,
you will not be able to type commands into the terminal until the GUI application is
finished. This is always a good idea when running a command which invokes a graphical user interface (GUI).
<p>



Here's an example of a simple C program. Copy it into the gedit window, and save it.

<!--<div class="answer">-->
{{ include_code("bad_pun.c") }}
<!--</div>-->
<p>
When you save, it will place the contents of the editor into the file <code>bad_pun.c</code>.
<p>
<b>Handy Tip 1</b>: On many linux systems copying can be achieved by simply highlighting with the left mouse button and pasting can be achieved by simply clicking with the middle button
<p>
<b>Handy Tip 2</b>: Make sure gedit is displaying line numbers down the left hand side. This is important for when we need to fix compile time errors.<br/>
If it is not displaying line numbers, go to the Edit-&gt;Preferences menu item and check the 'Display Line Numbers' option.
<p>
Once you have pressed saved, click on the Terminal window again and type this command to compile your program:</p>
<pre class="command_line">
<kbd class="shell">dcc -o bad_pun bad_pun.c</kbd>
</pre>

The <code>-o bad_pun</code> option tells the compiler to give
the newly compiled program the name <i>bad_pun</i>.

<p>
Test what happens if you leave the <code>-o  bad_pun</code> option out. What is the default name <code>dcc</code> uses?
<p>
You may wish to use the <code>rm</code> command to delete (<b>r</b>e<b>m</b>ove) the file created.<br/>
(You can Google <em>rm</em> or <em>rm linux</em> if you are not sure how it works)
<p>
If <code>dcc</code> does not print out any error messages, then your program has been successfully compiled. Otherwise you will need to find the errors in your code, fix them, save the file and compile again.
<p>
<b>Handy Tip 3</b>: Look for the line numbers that are displayed in the error messages as they are major clues to where the problem is in your code.
<p>
<b>Handy Tip 4</b>: Always start with fixing the first error first. Sometimes fixing one compile error, saving and recompiling can make all or some of the other errors go away!
<p>
After successfully compiling you can check that dcc has produced an executable by typing <code>ls -l</code> and
looking for a newly-created <code>bad_pun</code> file (check the file creation time to see if it really is new).
<p>
    A useful Unix command is <b>man</b> short for <b>man</b>ual. Find out what the <code>-l</code> option for the <code>ls</code> command
you used before does. Type:
<p>
<pre class="command_line">
<kbd class="shell">man ls</kbd>
</pre>
<p>
Press 'q' to exit man.
<p>
Run the program to test that it works. Type:


<pre class="command_line">
<kbd class="shell">./bad_pun</kbd>
</pre>

The <code>./</code> before the program name specifies that the program is found in the current directory. Note
that Unix executable (program) names do not require the <code>.exe</code> extension that you might have have
seen under Windows.
<p>
The COMP1511 class account contains a script that automatically checks your solution
to lab exercises.
<p>
While it is not important this week, lets run the <code>autotest</code> script so you can see what it does.
<p>
You can check <code>bad_pun.c</code> like this:

<pre class="command_line">
<kbd class="shell">1511 autotest wk01_bad_pun bad_pun.c</kbd>
Test 1 (./bad_pun) - passed
1 tests passed  0 tests failed
</pre>

Don't worry if you fail the check - and you can't see why.

There are no marks for this week's lab but practice submitting your work electronically.
<p>
You submit your work with the <code>give</code> command like this:

<pre class="command_line">
<kbd class="shell">give {{course_account}} wk01_bad_pun bad_pun.c</kbd>
</pre>
<p>
In future weeks both members of each lab pair need to submit your work using <code>give</code>.


{% endcall %}
{% call wrap_exercise("Exercise 2: Creating an ASCII Bird") %}
<!--<h3>Exercise 2: Creating an ASCII Bird</h3>-->

Now use the Linux command <code>cp</code> to copy <code>bad_pun.c</code> to a
new file named <code>bird.c</code>, like this:

<pre class="command_line">
<kbd class="shell">cp bad_pun.c bird.c</kbd>
</pre>

You are now ready to start editing the file <code>bird.c</code> using your favourite editor.

<pre class="command_line">
<kbd class="shell">gedit bird.c &amp;</kbd>
</pre>

Note that the basic structure of the program can be retained; you just need to change the
comments, and modify and/or add printf statements to the program.
Edit the file <code>bird.c</code> to produce a new program that behaves
as follows:

<pre class="command_line">
<kbd class="shell">dcc -o bird bird.c</kbd>
<kbd class="shell">./bird</kbd>
  ___
 ('v')
((___))
 ^   ^
</pre>
<p>
Make sure you save your modified program before you compile it.
<p>
Make sure you re-compile your program every time you modify the code.
<p>
<b>Handy Tip 5 :</b> Linux remembers the commands we have recently typed in. By pressing the <kbd>UPARROW</kbd> key, it will bring up your previous command and save you retyping it in! Try it. You can press the <kbd>UPARROW</kbd> key repeatedly to go back to the second last command, third last command and so on.
<p>
<b>Handy Tip 6 :</b> At your Linux command prompt, type in <code>./b</code> and then press the <kbd>tab</kbd> key. Linux will automatically try to fill in your partially typed command for you!

Again try the automatic checking script in the class account

<pre class="command_line">
<kbd class="shell">1511 autotest wk01_bird bird.c</kbd>
Test 1 (./bird) - passed
1 tests passed  0 tests failed
</pre>

Again don't worry if you fail the checking - and you can't see why.

There are no marks for this week's lab but practice submitting your work electronically.
<p>
You submit your work with the <code>give</code> command like this:

<pre class="command_line">
<kbd class="shell">give {{course_account}} wk01_bird bird.c</kbd>
</pre>
<p>
In future weeks both members of each lab pair need to submit your work using <code>give</code>.

<p></p>

{% endcall %}
{% call wrap_exercise("Exercise 3: Fixing errors in an ASCII Kangaroo") %}
<div class="highlighted_note">
This exercise was added to lab exercises Monday afternoon - as tutors reported student were coping
well with the exercises even though they had had a lecture yet.
<p>
If you did the lab before the exercise was hadn't you don't have to do it -
but you can if you want to.
</p></div>


Copy the program <code>kangaroo.c</code> from the course account to your
directory by typing (make sure you type the dot at the end):

<pre class="command_line">
<kbd class="shell">cp ~{{course_account}}/public_html/tlb/01/kangaroo.c .</kbd>
</pre>

The dot '.' is a shorthand for the current directory and there is a space between <code>kangaroo.c</code> and the next dot. You can check that the file has been copied by
     typing:

<pre class="command_line">
<kbd class="shell">ls</kbd>
bad_pun bad_pun.c bird bird.c kangaroo.c
</pre>

You can examine the contents of the file by typing:

<pre class="command_line">
<kbd class="shell">less kangaroo.c</kbd>
// A simple C program that prints an ASCII kangaroo
// Written 7/3/2017
/  by Andrew Taylor (andrewt@unsw.edu.au)
// as a lab example for COMP1511
...
</pre>


(<code>less</code> is an improved version of an earlier utility called <code>more</code>, which shows you long text files one
     page at a time and allows you to go forward and back using the space bar and the 'B' key. Less is
     more! Press 'q' to exit less.)

Now try to compile kangaroo.c. You should see a list of confusing error messages.

<pre class="command_line">
<kbd class="shell">dcc -o kangaroo kangaroo.c</kbd>
kangaroo.c:4:1: error: expected identifier or ?(? before ?/? token
 /  by Andrew Taylor (andrewt@cse.unsw.edu.au)
...
</pre>
<p>

Your job is to fix the errors.
<p>
You'll need to use an editor to change the file <code>kangaroo.c</code>
<p>
Run gedit like this:

<pre class="command_line">
<kbd class="shell">gedit kangaroo.c &amp;</kbd>
</pre>
<p>
When you have fixed all the errors you should be able to do this.

<pre class="command_line">
<kbd class="shell">dcc -o kangaroo kangaroo.c</kbd>
<kbd class="shell">./kangaroo</kbd>

  /\   ___
 &lt;__\_/    \
    \_  /  _\
      \_\ / \\
        //   \\
      =//     \==

</pre>
<b>Hint</b>: the error messages are confusing but they usually indicate where the problem is.
<p>
<b>Hint</b>: treat it as a puzzle. Look for differences between your program and the working
programs you have been shown.
<p>
<b>Hint</b>: all the errors but one involve a single missing character.
<p>
<b>Hint</b>: if it looks like there are too many backslashes in the program, it is correct.
Don't delete any backslashes (you do need to add one backslash).
It was mentioned in lectures that the backslash has a special interpretation in C.

<p></p>

Again try the automatic checking script in the class account

<pre class="command_line">
<kbd class="shell">1511 autotest wk01_kangaroo kangaroo.c</kbd>
Test 1 (./kangaroo) - passed
1 tests passed  0 tests failed
</pre>

Again don't worry if you fail the checking - and you can't see why.
<p>
Submit your work with the <code>give</code> command like this:

<pre class="command_line">
<kbd class="shell">give {{course_account}} wk01_kangaroo kangaroo.c</kbd>
</pre>
<p>
In future weeks both members of each lab pair need to submit their work using <code>give</code>.

{% endcall %}
{% call wrap_exercise("Exercise 4: Receiving Email from your tutor") %}

Your tutor has sent an email to your official UNSW email account. You need to  reply to it.
We want to make sure you can receive official emails!


{% endcall %}

{% call wrap_exercise("Exercise 5: Setting Up Your Own Computer to Work on COMP1511") %}

Don't panic if you don't own a laptop - you don't need one to study COMP1511.
<p>
If you don't have a computer where you live, you will need to spend
time in CSE's labs outside scheduled lab classes. You can check lab availability <a href="http://www.cse.unsw.edu.au/~give/Timetables/labs/current">here</a>.
<p>
If you finish the above exercises within your lab-time and/or your partner has a laptop with you,
try following the instructions
on the course home page for <i>home computing</i> to set it up so you can work on COMP1511 on your own computer.
<p>
It's useful to try and set up your laptop (if you have one) in a lab class because
your tutor or other students may be able to help you with any problems.
<p>
Otherwise, try to set up your laptop and/or desktop this week so you can work on COMP1511
at home.
<p>

{% endcall %}

{% block submission_block %}
{% endblock %}

{% block assessment_block %}
{% endblock %}

{% endblock %}
</p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p></p>